.hzslider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.hzslider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.hzmode-vertical > .hzslider-wrapper {
    flex-direction: column;
}
.hzslider-android .hzslider-slide, .hzslider-wrapper {
    transform: translate3d(0px,0,0);
}
.hzslider-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(179, 176, 176);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.hzslider-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hzslider-button-prev,
.hzslider-button-next{
    position: absolute;
    top: 50%;
    width: calc(44px/ 44 * 27);
    height: 44px;
    margin-top: calc(0px - (44px/ 2));
    z-index: 99;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007aff;
}

.hzslider-button-next, .hzslider-rtl .hzslider-button-prev {
    right: 10px;
    left: auto;
}

.hzslider-button-prev, .hzslider-rtl .hzslider-button-next {
    left: 10px;
    right: auto;
}

.hzslider-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}

.hzslider-horizontal>.hzslider-pagination-bullets, 
.hzslider-pagination-bullets.hzslider-pagination-horizontal, 
.hzslider-pagination-custom, .hzslider-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.hzslider-pagination-vertical.hzslider-pagination-bullets, 
.hzslider-vertical>.hzslider-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px,-50%,0);
}
.hzslider-horizontal>.hzslider-pagination-bullets .hzslider-pagination-bullet, 
.hzslider-pagination-horizontal.hzslider-pagination-bullets .hzslider-pagination-bullet {
    margin: 4px;
}
.hzslider-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
    pointer-events: none;
}
.hzslider-pagination-custom{
    display: inline-block;
    pointer-events: none;
}
.hzslider-pagination-vertical.hzslider-pagination-bullets .hzslider-pagination-bullet, 
.hzslider-vertical>.hzslider-pagination-bullets .hzslider-pagination-bullet {
    margin: 6px 0;
    display: block;
}
.hzslider-pagination-bullet.hzbullet-clickable,
.hzslider-pagination-custom.hzbullet-clickable{
    cursor: pointer;
    pointer-events: unset;
}
.hzslider-pagination-active{
    opacity: 1;
    background: #007aff;
}
