
.hjs-select2-wrap {
    user-select: none;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    border-style: solid;
    border-width: 0;
    border-color: gray;
    width: auto;
    display: inline-block;
    width: 100%;
}
.hjs-select2-wrap:focus, .hjs-select2-wrap:hover {
    border-color: #4242e2;
}

.hjs-select2-wrap[data-open] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  
.hjs-select2-wrap[data-open] datalist {
    display: initial;
}
  
.hjs-select2-wrap datalist {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    left: 0;
    display: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    border-top-width: 0px;
}

  
.hjs-select2-wrap div.nextheader-wrap::after {
    content: '>';
    align-self: stretch;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0.5em 0.7em;
    transform: rotate(90deg);
    background: transparent;
    font-family: arial;
}
.hjs-select2-wrap[data-open] div.nextheader-wrap::after{
    transform: rotate(270deg);
}
.hjs-select2-wrap div.nextheader-wrap:hover:after {
    background-color:transparent;
}
  
.hjs-select2-wrap .nextheader-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    border-width: 0;
    width: 100%;
    flex: 1;
    display: none;
}
.hjs-select2-wrap datalist div.option {
    margin-bottom: 0px;
    cursor: pointer;
    padding: 0.5em;
    border-width: 0;
}
  
.hjs-select2-wrap datalist div.option:hover {
    background-color: #4242e2;
    color: white;
}
  
.hjs-select2-wrap datalist div.option:focus {
    background-color: #4242e2;
    color: white;
}
  
.hjs-select2-wrap datalist div.option:checked {
    background-color: #4242e2;
    color: white;
}
.hjs-select2-wrap div.optgroup
{
    background-color: rgb(238, 241, 244);
    padding: 4px 4px;
}
.hjs-select2-wrap div.optgroup div.option[data-disabled],
.hjs-select2-wrap div.option[data-disabled]
{
    color: gray;
    cursor: no-drop;
    pointer-events: none;
    user-select: none;
}  

  
.hjs-select2-wrap div.option[data-checked] {
    background-color: #1414d0;
    color: white;
}
  
.hjs-select2-wrap div.optgroup div.label {
    font-weight: bold;
    line-height: 1.5em;
}
  
.hjs-select2-wrap div.optgroup div.option div.label {
    font-weight: normal;
}
  
.hjs-select2-wrap div.nextheader-wrap {
    flex: 1;
    display: flex;
    width: auto;
    box-sizing: border-box;
    border-width: 1px;
    border-style: inherit;
    border-color: inherit;
    border-radius: inherit;
}
  
.hjs-select2-wrap div.nextheader-wrap span.hjs-select2-display {
    flex: 1;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
}

.hjs-select2-wrap div.nextheader-wrap span.hjs-select2-display span:not(.hjs-select2-input) {
    padding: .2em .5em;
    position: relative;
    border: 1px solid #ccc;
    margin-right: 0px;
    border-radius: 3px;
}
.hjs-select2-wrap div.nextheader-wrap span.hjs-select2-display span:not(.hjs-select2-input)::after {
    content: "x";
    position: absolute;
    border: 1px solid #ccc;
    width: 9px;
    height: 9px;
    line-height: 9px;
    padding: 1px;
    text-align: center;
    border-radius: 100px;
    font-size: 11px;
    top: -6px;
    background: #fff;
    color: #d63434;
    right: -5px;
    font-family: arial;
}
.hjs-select2-wrap div.nextheader-wrap .hjs-select2-input{
    width: auto;
    border: none;
    outline: none;
    padding: 2px 6px;
}
.hjs-select2-wrap div.nextheader-wrap .hjs-select2-input:focus{
    border: none;
    outline: none;
}

  