
.njs-editor-panel{
	border: 1px solid #8d8484;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: monospace;
    font-size: 15px;
}
.njs-editor-panel button{
    font-family: monospace;
    font-size: 13px;
}
.njs-editor-panel > .njseditor-panel-controls{
	display: flex;
    border: 1px solid #8d8484;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 0px 5px;
    background-color: whitesmoke;
}
.njs-editor-panel > .njseditor-panel-controls > *{
    margin: 5px;
    margin-left: 0px;
}
.njs-editor-panel > .njseditor-panel-editor{
	display: block;
}
iframe.njseditor-iframe-editor{
	height:100%;
	width:100%;
}

.njs-editor-control{
	position: relative;
}

.njs-editor-control .njs-button,
.njseditor-panel-controls .njs-button{
	white-space: nowrap;
    cursor: default;
    vertical-align: middle;
    text-align: center;
    min-width: 27px;
    line-height: 1;
    font-size: 16px;
    border: 1px solid transparent;
    transition: box-shadow .2s ease-in-out,border .2s ease-in-out;
    -webkit-appearance: none;
	background: transparent;
	position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	padding: 5px;
    border-radius: 2px;
    position: relative;
    font-family: 'FontAwesome';
    color: #838383;
}
.njs-editor-control .njs-button.njs-button-highlight > i{
    background-color: #838383;
    color: white;
}
.njseditor-panel-controls .njs-button.njs-undo,
.njseditor-panel-controls .njs-button.njs-redo{
    position: absolute;
    right: 5px;
}
.njseditor-panel-controls .njs-button.njs-undo{
    right: 32px;
}

.njs-editor-control .njs-button:not(.njs-disabled):hover, 
a.njs-editor-control .njs-button:not(.njs-disabled):hover,
.njseditor-panel-controls .njs-button:not(.njs-disabled):hover, 
a.njseditor-panel-controls .njs-button:not(.njs-disabled):hover 
{
    background: #eeeeee;
    color: #000;
}
.njs-tooltip {
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}
.njseditor-panel-controls .njs-tooltip{
    position: absolute;
    left: 0;
    top: 34px;
    pointer-events: none;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: monospace;
    font-size: 13px;
}
.njseditor-panel-controls .njs-tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    transition: opacity .2s ease-in-out .2s;
    border-style: solid;
    left: 10%;
    top: -5px;
    border-left-color: transparent;
    border-bottom-color: #000;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-width: 6px;
    border-bottom-width: 6px;
    border-right-width: 6px;
    border-top-width: 0;
}
.njseditor-panel-controls > [data-title]:hover .njs-tooltip{
    visibility: visible;
    opacity: 1;
}
.njs-editor-control .njs-button.njsicon-ctrl,
.njs-editor-control .njs-button.njsicon-circle-up{
	min-width: auto;
    padding-right: 16px;
}
.njs-editor-control .njs-button.njsicon-ctrl::before,
.njs-editor-control .njs-button.njsicon-circle-up::before{
	position: absolute;
    right: 1px;
    top: 3px;
    transform: rotateX(180deg);
}

.njs-editor-control .njs-popup{
    position: absolute;
    display: none;
    z-index: 997;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.15);
    min-width: 33px;
    top: 32px;
}
.njs-editor-control .njs-popup.njs-button-fontcolor,
.njs-editor-control .njs-popup.njs-button-highlight{
    min-width: 150px;
}
.njs-editor-control .njs-popup.njs-open{
	display: block;
}

.njs-editor-control .njs-popup:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    transition: opacity .2s ease-in-out .2s;
    border-style: solid;
    left: 3%;
    top: -6px;
    border-left-color: transparent;
    border-bottom-color: #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-width: 6px;
    border-bottom-width: 6px;
    border-right-width: 6px;
    border-top-width: 0px;
}

.njs-editor-control .njs-popup .njs-list{
    list-style: none;
    margin: 0px;
    padding: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
}
.njs-editor-control .njs-popup .njs-list li{
    display: block;
}

.njs-editor-panel .njs-popup .njs-list li button{
    font-family: monospace;
    font-size: 13px;
    text-indent: 3px !important;
}
.njs-editor-panel .njs-popup .njs-list li button::before{
    font-size: 16px;
}

.njs-editor-control .njs-popup .njs-list li > button.fa::before{
    width: 100%;
    cursor: pointer;
    font-size: 14px;
    font-family: 'FontAwesome';
}
.njs-editor-control .njs-popup .njs-list li > button.njs-files {
   text-indent: 10px;
}
.njs-editor-control .njs-popup .njs-list li > button.njs-files:before {
    text-indent: 0px;
 }
.njs-editor-control .njs-popup .njs-list li .njs-no-pointer{
    justify-content: left;
}
.njs-editor-control .njs-popup .njs-list li .njs-no-pointer > *{
    margin: 0px;
    padding: 0px;
    user-select: none;
    pointer-events: none;
}

.njs-editor-control .njs-popup.njs-button-fontcolor .njs-list,
.njs-editor-control .njs-popup.njs-button-highlight .njs-list{
    flex-direction: row;
    flex-wrap: wrap;
}

.njs-editor-control .njs-popup.njs-button-fontcolor .njs-list li,
.njs-editor-control .njs-popup.njs-button-highlight .njs-list li{
    margin: 3px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.njs-editor-control .njs-popup.njs-button-fontcolor .njs-list li > button,
.njs-editor-control .njs-popup.njs-button-highlight .njs-list li > button{
    height: 24px;
    width: 24px;
    border-radius: 2px;
}

.njs-editor-control .njs-popup.njs-button-fontcolor .njs-list li:hover,
.njs-editor-control .njs-popup.njs-button-highlight .njs-list li:hover{
    border-color: rgb(177, 177, 236);
}


.njs-toolbar__separator{
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-width: 1px;
    background: #ccc;
    margin: 5px 0;
}

.njseditor-iframe-editor blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.njs-editor-overpopup{
    position: absolute;
    z-index: 997;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.15);
    min-width: 150px;
    top: 45px;
    left: 0px;
    padding: 10px;
}
.njs-fake-link-selection{
    background-color: rgb(31 177 255 / 30%);
    position: relative;
}
.njs-editor-overpopup:after, .njs-editor-overpopup:before {
    width: 0;
    height: 0;
    border-style: solid;
    content: "";
    position: absolute;
    left: 10%;
    margin-left: 0;
    top: -8px;
    z-index: 999;
}
.njs-editor-overpopup:after, .njs-editor-overpopup:before {
    border-left-width: 7px;
    border-bottom-width: 7px;
    border-right-width: 7px;
    border-top-width: 0;

    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.njs-editor-overpopup:before {
    border-bottom-color: #ccc;
}

.njs-editor-overpopup:after {
    border-bottom-color: #ffffff;
    margin-top: 1px;
}

.njs-editor-overpopup > .njs-overpopup-continer{
    display: flex;
    margin-top: 10px;
}

.njs-overpopup-continer .njs-popup-get-link {
    background: hsl(0deg 0% 100%);
    border: 1px solid hsl(0deg 0% 78%);
    padding: 5px 10px;
    min-width: 100px;
    min-height: 20px;
    transition: box-shadow .1s ease-in-out,border .1s ease-in-out;
}

.njs-overpopup-continer .njs-popup-get-link:focus {
    outline: none;
    border: 1px solid hsl(208deg 79% 51%);
    box-shadow: 0 0 0 3px #bcdefb;
}

.njs-overpopup-continer > button.njs-button{
    white-space: nowrap;
    cursor: default;
    vertical-align: middle;
    text-align: center;
    min-width: 27px;
    line-height: 1;
    font-size: inherit;
    border: 1px solid transparent;
    transition: box-shadow .2s ease-in-out,border .2s ease-in-out;
    -webkit-appearance: none;
    background: transparent;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 2px;
    margin-left: 10px;
    font-family: 'FontAwesome';
}

.njs-overpopup-continer > button.njs-popup-button-add{
    color: #008a00;
}
.njs-overpopup-continer > button.njs-popup-button-remove{
    color: #db3700;
}

.njs-overpopup-continer > button.njs-button:hover{
    background: #eeeeee;
}

.njs-editor-overpopup > .njs-editor-overpopup-label{
    line-height: 1.5em;
    font-weight: 600;
}

.njs-file-hidden{
    opacity: 0;
    position: absolute;
    visibility: hidden;
}