.njs-lightbox-overlay, .njs-lightbox-outer, .njs-lightbox-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
  
  .njs-lightbox-overlay {
    overflow: hidden;
    z-index: 2000;
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-animation: nJsoverlayAnimation 0.5s;
    -moz-animation: nJsoverlayAnimation 0.5s;
    animation: nJsoverlayAnimation 0.5s;
  }
  
  .njs-lightbox-outer {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2010;
  }
  
  .njs-lightbox-wrap {
    position: absolute;
    text-align: center;
  }
  
  .njs-lightbox-wrap:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .njs-lightboxCon-outer {
    display: inline-block;
    vertical-align: middle;
    margin: 0px auto;
    padding: 0 1em;
    box-sizing: border-box;
    z-index: 2020;
    text-align: left;
    max-width: 100%;
  }
  
  .slbContentEl .njs-lightboxCon-outer {
    padding: 5em 1em;
  }
  
  .njs-lightboxCon-sub {
    position: relative;
  }
  
  .slbContentEl .njs-lightboxCon-sub {
    -webkit-animation: nJslideEnter 0.3s;
    -moz-animation: nJslideEnter 0.3s;
    animation: nJslideEnter 0.3s;
    background-color: #fff;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.4);
  }
  
  .njs-image-continer, .njs-content-continer{
    -webkit-animation: nJslideEnter 0.3s;
    -moz-animation: nJslideEnter 0.3s;
    animation: nJslideEnter 0.3s;
    position: relative;
  }
  
  .njs-image-continer:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 5em;
    bottom: 5em;
    display: block;
    z-index: -1;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.6);
    background-color: #FFF;
  }
  
  .njs-images-el {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 5em 0;
    margin: 0 auto;
  }
  
  .njsCaption {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 1.4em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.71429em 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
  }
  
  .njs-close-bt, .njs-arr-bt {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
      outline: none !important;
      box-shadow: none !important;
  }
  
  .njs-close-bt::-moz-focus-inner, .njs-arr-bt::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  .njs-close-bt:hover, .njs-arr-bt:hover {
    opacity: 0.5;
  }
  
  .njs-close-bt:active, .njs-arr-bt:active {
    opacity: 0.8;
  }
  
  .njs-close-bt {
    -webkit-animation: nJslideEnter 0.3s;
    -moz-animation: nJslideEnter 0.3s;
    animation: nJslideEnter 0.3s;
    font-size: 3em;
    width: 1.66667em;
    height: 1.66667em;
    line-height: 1.66667em;
    position: absolute;
    right: -0.33333em;
    top: 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
      outline: none;
      box-shadow: none;
  }
  
  .njs-lightboxConLoading ~ .njs-close-bt {
    display: none;
  }
  
  .njs-loadingText {
    font-size: 1.4em;
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .njs-lightbox-arrows {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
  }
  
  .njs-lightboxConLoading ~ .njs-lightbox-arrows{
    display: none;
  }
  
  .njs-arr-bt {
    position: absolute;
    top: 50%;
    margin-top: -5em;
    width: 5em;
    height: 10em;
    opacity: 0.7;
    text-indent: -999em;
    overflow: hidden;
      outline: none;
      box-shadow: none;
  }
  
  .njs-arr-bt:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.8em 0 0 -0.8em;
    border: 0.8em solid transparent;
  }
  
  .njs-arr-bt.next {
    right: 0;
  }
  
  .njs-arr-bt.next:before {
    border-left-color: #fff;
  }
  
  .njs-arr-bt.prev {
    left: 0;
  }
  
  .njs-arr-bt.prev:before {
    border-right-color: #fff;
  }
  
  @-webkit-keyframes nJsoverlayAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }
  
  @-moz-keyframes nJsoverlayAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }
  
  @keyframes nJsoverlayAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }
  
  @-webkit-keyframes nJslideEnter {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -1em, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  
  @-moz-keyframes nJslideEnter {
    from {
      opacity: 0;
      -moz-transform: translate3d(0, -1em, 0);
    }
    to {
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes nJslideEnter {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -1em, 0);
      -moz-transform: translate3d(0, -1em, 0);
      -ms-transform: translate3d(0, -1em, 0);
      -o-transform: translate3d(0, -1em, 0);
      transform: translate3d(0, -1em, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }