@font-face {
  font-family: 'hjsicon';
  src:  url('fonts/hjsicon.eot?y4tebu');
  src:  url('fonts/hjsicon.eot?y4tebu#iefix') format('embedded-opentype'),
    url('fonts/hjsicon.ttf?y4tebu') format('truetype'),
    url('fonts/hjsicon.woff?y4tebu') format('woff'),
    url('fonts/hjsicon.svg?y4tebu#hjsicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hjsicon-"], [class*=" hjsicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hjsicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hjsicon-home:before {
  content: "\e900";
}
.hjsicon-home2:before {
  content: "\e901";
}
.hjsicon-home3:before {
  content: "\e902";
}
.hjsicon-office:before {
  content: "\e903";
}
.hjsicon-newspaper:before {
  content: "\e904";
}
.hjsicon-pencil:before {
  content: "\e905";
}
.hjsicon-pencil2:before {
  content: "\e906";
}
.hjsicon-quill:before {
  content: "\e907";
}
.hjsicon-pen:before {
  content: "\e908";
}
.hjsicon-blog:before {
  content: "\e909";
}
.hjsicon-eyedropper:before {
  content: "\e90a";
}
.hjsicon-droplet:before {
  content: "\e90b";
}
.hjsicon-paint-format:before {
  content: "\e90c";
}
.hjsicon-image:before {
  content: "\e90d";
}
.hjsicon-images:before {
  content: "\e90e";
}
.hjsicon-camera:before {
  content: "\e90f";
}
.hjsicon-headphones:before {
  content: "\e910";
}
.hjsicon-music:before {
  content: "\e911";
}
.hjsicon-play:before {
  content: "\e912";
}
.hjsicon-film:before {
  content: "\e913";
}
.hjsicon-video-camera:before {
  content: "\e914";
}
.hjsicon-dice:before {
  content: "\e915";
}
.hjsicon-pacman:before {
  content: "\e916";
}
.hjsicon-spades:before {
  content: "\e917";
}
.hjsicon-clubs:before {
  content: "\e918";
}
.hjsicon-diamonds:before {
  content: "\e919";
}
.hjsicon-bullhorn:before {
  content: "\e91a";
}
.hjsicon-connection:before {
  content: "\e91b";
}
.hjsicon-podcast:before {
  content: "\e91c";
}
.hjsicon-feed:before {
  content: "\e91d";
}
.hjsicon-mic:before {
  content: "\e91e";
}
.hjsicon-book:before {
  content: "\e91f";
}
.hjsicon-books:before {
  content: "\e920";
}
.hjsicon-library:before {
  content: "\e921";
}
.hjsicon-file-text:before {
  content: "\e922";
}
.hjsicon-profile:before {
  content: "\e923";
}
.hjsicon-file-empty:before {
  content: "\e924";
}
.hjsicon-files-empty:before {
  content: "\e925";
}
.hjsicon-file-text2:before {
  content: "\e926";
}
.hjsicon-file-picture:before {
  content: "\e927";
}
.hjsicon-file-music:before {
  content: "\e928";
}
.hjsicon-file-play:before {
  content: "\e929";
}
.hjsicon-file-video:before {
  content: "\e92a";
}
.hjsicon-file-zip:before {
  content: "\e92b";
}
.hjsicon-copy:before {
  content: "\e92c";
}
.hjsicon-paste:before {
  content: "\e92d";
}
.hjsicon-stack:before {
  content: "\e92e";
}
.hjsicon-folder:before {
  content: "\e92f";
}
.hjsicon-folder-open:before {
  content: "\e930";
}
.hjsicon-folder-plus:before {
  content: "\e931";
}
.hjsicon-folder-minus:before {
  content: "\e932";
}
.hjsicon-folder-download:before {
  content: "\e933";
}
.hjsicon-folder-upload:before {
  content: "\e934";
}
.hjsicon-price-tag:before {
  content: "\e935";
}
.hjsicon-price-tags:before {
  content: "\e936";
}
.hjsicon-barcode:before {
  content: "\e937";
}
.hjsicon-qrcode:before {
  content: "\e938";
}
.hjsicon-ticket:before {
  content: "\e939";
}
.hjsicon-cart:before {
  content: "\e93a";
}
.hjsicon-coin-dollar:before {
  content: "\e93b";
}
.hjsicon-coin-euro:before {
  content: "\e93c";
}
.hjsicon-coin-pound:before {
  content: "\e93d";
}
.hjsicon-coin-yen:before {
  content: "\e93e";
}
.hjsicon-credit-card:before {
  content: "\e93f";
}
.hjsicon-calculator:before {
  content: "\e940";
}
.hjsicon-lifebuoy:before {
  content: "\e941";
}
.hjsicon-phone:before {
  content: "\e942";
}
.hjsicon-phone-hang-up:before {
  content: "\e943";
}
.hjsicon-address-book:before {
  content: "\e944";
}
.hjsicon-envelop:before {
  content: "\e945";
}
.hjsicon-pushpin:before {
  content: "\e946";
}
.hjsicon-location:before {
  content: "\e947";
}
.hjsicon-location2:before {
  content: "\e948";
}
.hjsicon-compass:before {
  content: "\e949";
}
.hjsicon-compass2:before {
  content: "\e94a";
}
.hjsicon-map:before {
  content: "\e94b";
}
.hjsicon-map2:before {
  content: "\e94c";
}
.hjsicon-history:before {
  content: "\e94d";
}
.hjsicon-clock:before {
  content: "\e94e";
}
.hjsicon-clock2:before {
  content: "\e94f";
}
.hjsicon-alarm:before {
  content: "\e950";
}
.hjsicon-bell:before {
  content: "\e951";
}
.hjsicon-stopwatch:before {
  content: "\e952";
}
.hjsicon-calendar:before {
  content: "\e953";
}
.hjsicon-printer:before {
  content: "\e954";
}
.hjsicon-keyboard:before {
  content: "\e955";
}
.hjsicon-display:before {
  content: "\e956";
}
.hjsicon-laptop:before {
  content: "\e957";
}
.hjsicon-mobile:before {
  content: "\e958";
}
.hjsicon-mobile2:before {
  content: "\e959";
}
.hjsicon-tablet:before {
  content: "\e95a";
}
.hjsicon-tv:before {
  content: "\e95b";
}
.hjsicon-drawer:before {
  content: "\e95c";
}
.hjsicon-drawer2:before {
  content: "\e95d";
}
.hjsicon-box-add:before {
  content: "\e95e";
}
.hjsicon-box-remove:before {
  content: "\e95f";
}
.hjsicon-download:before {
  content: "\e960";
}
.hjsicon-upload:before {
  content: "\e961";
}
.hjsicon-floppy-disk:before {
  content: "\e962";
}
.hjsicon-drive:before {
  content: "\e963";
}
.hjsicon-database:before {
  content: "\e964";
}
.hjsicon-undo:before {
  content: "\e965";
}
.hjsicon-redo:before {
  content: "\e966";
}
.hjsicon-undo2:before {
  content: "\e967";
}
.hjsicon-redo2:before {
  content: "\e968";
}
.hjsicon-forward:before {
  content: "\e969";
}
.hjsicon-reply:before {
  content: "\e96a";
}
.hjsicon-bubble:before {
  content: "\e96b";
}
.hjsicon-bubbles:before {
  content: "\e96c";
}
.hjsicon-bubbles2:before {
  content: "\e96d";
}
.hjsicon-bubble2:before {
  content: "\e96e";
}
.hjsicon-bubbles3:before {
  content: "\e96f";
}
.hjsicon-bubbles4:before {
  content: "\e970";
}
.hjsicon-user:before {
  content: "\e971";
}
.hjsicon-users:before {
  content: "\e972";
}
.hjsicon-user-plus:before {
  content: "\e973";
}
.hjsicon-user-minus:before {
  content: "\e974";
}
.hjsicon-user-check:before {
  content: "\e975";
}
.hjsicon-user-tie:before {
  content: "\e976";
}
.hjsicon-quotes-left:before {
  content: "\e977";
}
.hjsicon-quotes-right:before {
  content: "\e978";
}
.hjsicon-hour-glass:before {
  content: "\e979";
}
.hjsicon-spinner:before {
  content: "\e97a";
}
.hjsicon-spinner2:before {
  content: "\e97b";
}
.hjsicon-spinner3:before {
  content: "\e97c";
}
.hjsicon-spinner4:before {
  content: "\e97d";
}
.hjsicon-spinner5:before {
  content: "\e97e";
}
.hjsicon-spinner6:before {
  content: "\e97f";
}
.hjsicon-spinner7:before {
  content: "\e980";
}
.hjsicon-spinner8:before {
  content: "\e981";
}
.hjsicon-spinner9:before {
  content: "\e982";
}
.hjsicon-spinner10:before {
  content: "\e983";
}
.hjsicon-spinner11:before {
  content: "\e984";
}
.hjsicon-binoculars:before {
  content: "\e985";
}
.hjsicon-search:before {
  content: "\e986";
}
.hjsicon-zoom-in:before {
  content: "\e987";
}
.hjsicon-zoom-out:before {
  content: "\e988";
}
.hjsicon-enlarge:before {
  content: "\e989";
}
.hjsicon-shrink:before {
  content: "\e98a";
}
.hjsicon-enlarge2:before {
  content: "\e98b";
}
.hjsicon-shrink2:before {
  content: "\e98c";
}
.hjsicon-key:before {
  content: "\e98d";
}
.hjsicon-key2:before {
  content: "\e98e";
}
.hjsicon-lock:before {
  content: "\e98f";
}
.hjsicon-unlocked:before {
  content: "\e990";
}
.hjsicon-wrench:before {
  content: "\e991";
}
.hjsicon-equalizer:before {
  content: "\e992";
}
.hjsicon-equalizer2:before {
  content: "\e993";
}
.hjsicon-cog:before {
  content: "\e994";
}
.hjsicon-cogs:before {
  content: "\e995";
}
.hjsicon-hammer:before {
  content: "\e996";
}
.hjsicon-magic-wand:before {
  content: "\e997";
}
.hjsicon-aid-kit:before {
  content: "\e998";
}
.hjsicon-bug:before {
  content: "\e999";
}
.hjsicon-pie-chart:before {
  content: "\e99a";
}
.hjsicon-stats-dots:before {
  content: "\e99b";
}
.hjsicon-stats-bars:before {
  content: "\e99c";
}
.hjsicon-stats-bars2:before {
  content: "\e99d";
}
.hjsicon-trophy:before {
  content: "\e99e";
}
.hjsicon-gift:before {
  content: "\e99f";
}
.hjsicon-glass:before {
  content: "\e9a0";
}
.hjsicon-glass2:before {
  content: "\e9a1";
}
.hjsicon-mug:before {
  content: "\e9a2";
}
.hjsicon-spoon-knife:before {
  content: "\e9a3";
}
.hjsicon-leaf:before {
  content: "\e9a4";
}
.hjsicon-rocket:before {
  content: "\e9a5";
}
.hjsicon-meter:before {
  content: "\e9a6";
}
.hjsicon-meter2:before {
  content: "\e9a7";
}
.hjsicon-hammer2:before {
  content: "\e9a8";
}
.hjsicon-fire:before {
  content: "\e9a9";
}
.hjsicon-lab:before {
  content: "\e9aa";
}
.hjsicon-magnet:before {
  content: "\e9ab";
}
.hjsicon-bin:before {
  content: "\e9ac";
}
.hjsicon-bin2:before {
  content: "\e9ad";
}
.hjsicon-briefcase:before {
  content: "\e9ae";
}
.hjsicon-airplane:before {
  content: "\e9af";
}
.hjsicon-truck:before {
  content: "\e9b0";
}
.hjsicon-road:before {
  content: "\e9b1";
}
.hjsicon-accessibility:before {
  content: "\e9b2";
}
.hjsicon-target:before {
  content: "\e9b3";
}
.hjsicon-shield:before {
  content: "\e9b4";
}
.hjsicon-power:before {
  content: "\e9b5";
}
.hjsicon-switch:before {
  content: "\e9b6";
}
.hjsicon-power-cord:before {
  content: "\e9b7";
}
.hjsicon-clipboard:before {
  content: "\e9b8";
}
.hjsicon-list-numbered:before {
  content: "\e9b9";
}
.hjsicon-list:before {
  content: "\e9ba";
}
.hjsicon-list2:before {
  content: "\e9bb";
}
.hjsicon-tree:before {
  content: "\e9bc";
}
.hjsicon-menu:before {
  content: "\e9bd";
}
.hjsicon-menu2:before {
  content: "\e9be";
}
.hjsicon-menu3:before {
  content: "\e9bf";
}
.hjsicon-menu4:before {
  content: "\e9c0";
}
.hjsicon-cloud:before {
  content: "\e9c1";
}
.hjsicon-cloud-download:before {
  content: "\e9c2";
}
.hjsicon-cloud-upload:before {
  content: "\e9c3";
}
.hjsicon-cloud-check:before {
  content: "\e9c4";
}
.hjsicon-download2:before {
  content: "\e9c5";
}
.hjsicon-upload2:before {
  content: "\e9c6";
}
.hjsicon-download3:before {
  content: "\e9c7";
}
.hjsicon-upload3:before {
  content: "\e9c8";
}
.hjsicon-sphere:before {
  content: "\e9c9";
}
.hjsicon-earth:before {
  content: "\e9ca";
}
.hjsicon-link:before {
  content: "\e9cb";
}
.hjsicon-flag:before {
  content: "\e9cc";
}
.hjsicon-attachment:before {
  content: "\e9cd";
}
.hjsicon-eye:before {
  content: "\e9ce";
}
.hjsicon-eye-plus:before {
  content: "\e9cf";
}
.hjsicon-eye-minus:before {
  content: "\e9d0";
}
.hjsicon-eye-blocked:before {
  content: "\e9d1";
}
.hjsicon-bookmark:before {
  content: "\e9d2";
}
.hjsicon-bookmarks:before {
  content: "\e9d3";
}
.hjsicon-sun:before {
  content: "\e9d4";
}
.hjsicon-contrast:before {
  content: "\e9d5";
}
.hjsicon-brightness-contrast:before {
  content: "\e9d6";
}
.hjsicon-star-empty:before {
  content: "\e9d7";
}
.hjsicon-star-half:before {
  content: "\e9d8";
}
.hjsicon-star-full:before {
  content: "\e9d9";
}
.hjsicon-heart:before {
  content: "\e9da";
}
.hjsicon-heart-broken:before {
  content: "\e9db";
}
.hjsicon-man:before {
  content: "\e9dc";
}
.hjsicon-woman:before {
  content: "\e9dd";
}
.hjsicon-man-woman:before {
  content: "\e9de";
}
.hjsicon-happy:before {
  content: "\e9df";
}
.hjsicon-happy2:before {
  content: "\e9e0";
}
.hjsicon-smile:before {
  content: "\e9e1";
}
.hjsicon-smile2:before {
  content: "\e9e2";
}
.hjsicon-tongue:before {
  content: "\e9e3";
}
.hjsicon-tongue2:before {
  content: "\e9e4";
}
.hjsicon-sad:before {
  content: "\e9e5";
}
.hjsicon-sad2:before {
  content: "\e9e6";
}
.hjsicon-wink:before {
  content: "\e9e7";
}
.hjsicon-wink2:before {
  content: "\e9e8";
}
.hjsicon-grin:before {
  content: "\e9e9";
}
.hjsicon-grin2:before {
  content: "\e9ea";
}
.hjsicon-cool:before {
  content: "\e9eb";
}
.hjsicon-cool2:before {
  content: "\e9ec";
}
.hjsicon-angry:before {
  content: "\e9ed";
}
.hjsicon-angry2:before {
  content: "\e9ee";
}
.hjsicon-evil:before {
  content: "\e9ef";
}
.hjsicon-evil2:before {
  content: "\e9f0";
}
.hjsicon-shocked:before {
  content: "\e9f1";
}
.hjsicon-shocked2:before {
  content: "\e9f2";
}
.hjsicon-baffled:before {
  content: "\e9f3";
}
.hjsicon-baffled2:before {
  content: "\e9f4";
}
.hjsicon-confused:before {
  content: "\e9f5";
}
.hjsicon-confused2:before {
  content: "\e9f6";
}
.hjsicon-neutral:before {
  content: "\e9f7";
}
.hjsicon-neutral2:before {
  content: "\e9f8";
}
.hjsicon-hipster:before {
  content: "\e9f9";
}
.hjsicon-hipster2:before {
  content: "\e9fa";
}
.hjsicon-wondering:before {
  content: "\e9fb";
}
.hjsicon-wondering2:before {
  content: "\e9fc";
}
.hjsicon-sleepy:before {
  content: "\e9fd";
}
.hjsicon-sleepy2:before {
  content: "\e9fe";
}
.hjsicon-frustrated:before {
  content: "\e9ff";
}
.hjsicon-frustrated2:before {
  content: "\ea00";
}
.hjsicon-crying:before {
  content: "\ea01";
}
.hjsicon-crying2:before {
  content: "\ea02";
}
.hjsicon-point-up:before {
  content: "\ea03";
}
.hjsicon-point-right:before {
  content: "\ea04";
}
.hjsicon-point-down:before {
  content: "\ea05";
}
.hjsicon-point-left:before {
  content: "\ea06";
}
.hjsicon-warning:before {
  content: "\ea07";
}
.hjsicon-notification:before {
  content: "\ea08";
}
.hjsicon-question:before {
  content: "\ea09";
}
.hjsicon-plus:before {
  content: "\ea0a";
}
.hjsicon-minus:before {
  content: "\ea0b";
}
.hjsicon-info:before {
  content: "\ea0c";
}
.hjsicon-cancel-circle:before {
  content: "\ea0d";
}
.hjsicon-blocked:before {
  content: "\ea0e";
}
.hjsicon-cross:before {
  content: "\ea0f";
}
.hjsicon-checkmark:before {
  content: "\ea10";
}
.hjsicon-checkmark2:before {
  content: "\ea11";
}
.hjsicon-spell-check:before {
  content: "\ea12";
}
.hjsicon-enter:before {
  content: "\ea13";
}
.hjsicon-exit:before {
  content: "\ea14";
}
.hjsicon-play2:before {
  content: "\ea15";
}
.hjsicon-pause:before {
  content: "\ea16";
}
.hjsicon-stop:before {
  content: "\ea17";
}
.hjsicon-previous:before {
  content: "\ea18";
}
.hjsicon-next:before {
  content: "\ea19";
}
.hjsicon-backward:before {
  content: "\ea1a";
}
.hjsicon-forward2:before {
  content: "\ea1b";
}
.hjsicon-play3:before {
  content: "\ea1c";
}
.hjsicon-pause2:before {
  content: "\ea1d";
}
.hjsicon-stop2:before {
  content: "\ea1e";
}
.hjsicon-backward2:before {
  content: "\ea1f";
}
.hjsicon-forward3:before {
  content: "\ea20";
}
.hjsicon-first:before {
  content: "\ea21";
}
.hjsicon-last:before {
  content: "\ea22";
}
.hjsicon-previous2:before {
  content: "\ea23";
}
.hjsicon-next2:before {
  content: "\ea24";
}
.hjsicon-eject:before {
  content: "\ea25";
}
.hjsicon-volume-high:before {
  content: "\ea26";
}
.hjsicon-volume-medium:before {
  content: "\ea27";
}
.hjsicon-volume-low:before {
  content: "\ea28";
}
.hjsicon-volume-mute:before {
  content: "\ea29";
}
.hjsicon-volume-mute2:before {
  content: "\ea2a";
}
.hjsicon-volume-increase:before {
  content: "\ea2b";
}
.hjsicon-volume-decrease:before {
  content: "\ea2c";
}
.hjsicon-loop:before {
  content: "\ea2d";
}
.hjsicon-loop2:before {
  content: "\ea2e";
}
.hjsicon-infinite:before {
  content: "\ea2f";
}
.hjsicon-shuffle:before {
  content: "\ea30";
}
.hjsicon-arrow-up-left:before {
  content: "\ea31";
}
.hjsicon-arrow-up:before {
  content: "\ea32";
}
.hjsicon-arrow-up-right:before {
  content: "\ea33";
}
.hjsicon-arrow-right:before {
  content: "\ea34";
}
.hjsicon-arrow-down-right:before {
  content: "\ea35";
}
.hjsicon-arrow-down:before {
  content: "\ea36";
}
.hjsicon-arrow-down-left:before {
  content: "\ea37";
}
.hjsicon-arrow-left:before {
  content: "\ea38";
}
.hjsicon-arrow-up-left2:before {
  content: "\ea39";
}
.hjsicon-arrow-up2:before {
  content: "\ea3a";
}
.hjsicon-arrow-up-right2:before {
  content: "\ea3b";
}
.hjsicon-arrow-right2:before {
  content: "\ea3c";
}
.hjsicon-arrow-down-right2:before {
  content: "\ea3d";
}
.hjsicon-arrow-down2:before {
  content: "\ea3e";
}
.hjsicon-arrow-down-left2:before {
  content: "\ea3f";
}
.hjsicon-arrow-left2:before {
  content: "\ea40";
}
.hjsicon-circle-up:before {
  content: "\ea41";
}
.hjsicon-circle-right:before {
  content: "\ea42";
}
.hjsicon-circle-down:before {
  content: "\ea43";
}
.hjsicon-circle-left:before {
  content: "\ea44";
}
.hjsicon-tab:before {
  content: "\ea45";
}
.hjsicon-move-up:before {
  content: "\ea46";
}
.hjsicon-move-down:before {
  content: "\ea47";
}
.hjsicon-sort-alpha-asc:before {
  content: "\ea48";
}
.hjsicon-sort-alpha-desc:before {
  content: "\ea49";
}
.hjsicon-sort-numeric-asc:before {
  content: "\ea4a";
}
.hjsicon-sort-numberic-desc:before {
  content: "\ea4b";
}
.hjsicon-sort-amount-asc:before {
  content: "\ea4c";
}
.hjsicon-sort-amount-desc:before {
  content: "\ea4d";
}
.hjsicon-command:before {
  content: "\ea4e";
}
.hjsicon-shift:before {
  content: "\ea4f";
}
.hjsicon-ctrl:before {
  content: "\ea50";
}
.hjsicon-opt:before {
  content: "\ea51";
}
.hjsicon-checkbox-checked:before {
  content: "\ea52";
}
.hjsicon-checkbox-unchecked:before {
  content: "\ea53";
}
.hjsicon-radio-checked:before {
  content: "\ea54";
}
.hjsicon-radio-checked2:before {
  content: "\ea55";
}
.hjsicon-radio-unchecked:before {
  content: "\ea56";
}
.hjsicon-crop:before {
  content: "\ea57";
}
.hjsicon-make-group:before {
  content: "\ea58";
}
.hjsicon-ungroup:before {
  content: "\ea59";
}
.hjsicon-scissors:before {
  content: "\ea5a";
}
.hjsicon-filter:before {
  content: "\ea5b";
}
.hjsicon-font:before {
  content: "\ea5c";
}
.hjsicon-ligature:before {
  content: "\ea5d";
}
.hjsicon-ligature2:before {
  content: "\ea5e";
}
.hjsicon-text-height:before {
  content: "\ea5f";
}
.hjsicon-text-width:before {
  content: "\ea60";
}
.hjsicon-font-size:before {
  content: "\ea61";
}
.hjsicon-bold:before {
  content: "\ea62";
}
.hjsicon-underline:before {
  content: "\ea63";
}
.hjsicon-italic:before {
  content: "\ea64";
}
.hjsicon-strikethrough:before {
  content: "\ea65";
}
.hjsicon-omega:before {
  content: "\ea66";
}
.hjsicon-sigma:before {
  content: "\ea67";
}
.hjsicon-page-break:before {
  content: "\ea68";
}
.hjsicon-superscript:before {
  content: "\ea69";
}
.hjsicon-subscript:before {
  content: "\ea6a";
}
.hjsicon-superscript2:before {
  content: "\ea6b";
}
.hjsicon-subscript2:before {
  content: "\ea6c";
}
.hjsicon-text-color:before {
  content: "\ea6d";
}
.hjsicon-pagebreak:before {
  content: "\ea6e";
}
.hjsicon-clear-formatting:before {
  content: "\ea6f";
}
.hjsicon-table:before {
  content: "\ea70";
}
.hjsicon-table2:before {
  content: "\ea71";
}
.hjsicon-insert-template:before {
  content: "\ea72";
}
.hjsicon-pilcrow:before {
  content: "\ea73";
}
.hjsicon-ltr:before {
  content: "\ea74";
}
.hjsicon-rtl:before {
  content: "\ea75";
}
.hjsicon-section:before {
  content: "\ea76";
}
.hjsicon-paragraph-left:before {
  content: "\ea77";
}
.hjsicon-paragraph-center:before {
  content: "\ea78";
}
.hjsicon-paragraph-right:before {
  content: "\ea79";
}
.hjsicon-paragraph-justify:before {
  content: "\ea7a";
}
.hjsicon-indent-increase:before {
  content: "\ea7b";
}
.hjsicon-indent-decrease:before {
  content: "\ea7c";
}
.hjsicon-share:before {
  content: "\ea7d";
}
.hjsicon-new-tab:before {
  content: "\ea7e";
}
.hjsicon-embed:before {
  content: "\ea7f";
}
.hjsicon-embed2:before {
  content: "\ea80";
}
.hjsicon-terminal:before {
  content: "\ea81";
}
.hjsicon-share2:before {
  content: "\ea82";
}
.hjsicon-mail:before {
  content: "\ea83";
}
.hjsicon-mail2:before {
  content: "\ea84";
}
.hjsicon-mail3:before {
  content: "\ea85";
}
.hjsicon-mail4:before {
  content: "\ea86";
}
.hjsicon-amazon:before {
  content: "\ea87";
}
.hjsicon-google:before {
  content: "\ea88";
}
.hjsicon-google2:before {
  content: "\ea89";
}
.hjsicon-google3:before {
  content: "\ea8a";
}
.hjsicon-google-plus:before {
  content: "\ea8b";
}
.hjsicon-google-plus2:before {
  content: "\ea8c";
}
.hjsicon-google-plus3:before {
  content: "\ea8d";
}
.hjsicon-hangouts:before {
  content: "\ea8e";
}
.hjsicon-google-drive:before {
  content: "\ea8f";
}
.hjsicon-facebook:before {
  content: "\ea90";
}
.hjsicon-facebook2:before {
  content: "\ea91";
}
.hjsicon-instagram:before {
  content: "\ea92";
}
.hjsicon-whatsapp:before {
  content: "\ea93";
}
.hjsicon-spotify:before {
  content: "\ea94";
}
.hjsicon-telegram:before {
  content: "\ea95";
}
.hjsicon-twitter:before {
  content: "\ea96";
}
.hjsicon-vine:before {
  content: "\ea97";
}
.hjsicon-vk:before {
  content: "\ea98";
}
.hjsicon-renren:before {
  content: "\ea99";
}
.hjsicon-sina-weibo:before {
  content: "\ea9a";
}
.hjsicon-rss:before {
  content: "\ea9b";
}
.hjsicon-rss2:before {
  content: "\ea9c";
}
.hjsicon-youtube:before {
  content: "\ea9d";
}
.hjsicon-youtube2:before {
  content: "\ea9e";
}
.hjsicon-twitch:before {
  content: "\ea9f";
}
.hjsicon-vimeo:before {
  content: "\eaa0";
}
.hjsicon-vimeo2:before {
  content: "\eaa1";
}
.hjsicon-lanyrd:before {
  content: "\eaa2";
}
.hjsicon-flickr:before {
  content: "\eaa3";
}
.hjsicon-flickr2:before {
  content: "\eaa4";
}
.hjsicon-flickr3:before {
  content: "\eaa5";
}
.hjsicon-flickr4:before {
  content: "\eaa6";
}
.hjsicon-dribbble:before {
  content: "\eaa7";
}
.hjsicon-behance:before {
  content: "\eaa8";
}
.hjsicon-behance2:before {
  content: "\eaa9";
}
.hjsicon-deviantart:before {
  content: "\eaaa";
}
.hjsicon-500px:before {
  content: "\eaab";
}
.hjsicon-steam:before {
  content: "\eaac";
}
.hjsicon-steam2:before {
  content: "\eaad";
}
.hjsicon-dropbox:before {
  content: "\eaae";
}
.hjsicon-onedrive:before {
  content: "\eaaf";
}
.hjsicon-github:before {
  content: "\eab0";
}
.hjsicon-npm:before {
  content: "\eab1";
}
.hjsicon-basecamp:before {
  content: "\eab2";
}
.hjsicon-trello:before {
  content: "\eab3";
}
.hjsicon-wordpress:before {
  content: "\eab4";
}
.hjsicon-joomla:before {
  content: "\eab5";
}
.hjsicon-ello:before {
  content: "\eab6";
}
.hjsicon-blogger:before {
  content: "\eab7";
}
.hjsicon-blogger2:before {
  content: "\eab8";
}
.hjsicon-tumblr:before {
  content: "\eab9";
}
.hjsicon-tumblr2:before {
  content: "\eaba";
}
.hjsicon-yahoo:before {
  content: "\eabb";
}
.hjsicon-yahoo2:before {
  content: "\eabc";
}
.hjsicon-tux:before {
  content: "\eabd";
}
.hjsicon-appleinc:before {
  content: "\eabe";
}
.hjsicon-finder:before {
  content: "\eabf";
}
.hjsicon-android:before {
  content: "\eac0";
}
.hjsicon-windows:before {
  content: "\eac1";
}
.hjsicon-windows8:before {
  content: "\eac2";
}
.hjsicon-soundcloud:before {
  content: "\eac3";
}
.hjsicon-soundcloud2:before {
  content: "\eac4";
}
.hjsicon-skype:before {
  content: "\eac5";
}
.hjsicon-reddit:before {
  content: "\eac6";
}
.hjsicon-hackernews:before {
  content: "\eac7";
}
.hjsicon-wikipedia:before {
  content: "\eac8";
}
.hjsicon-linkedin:before {
  content: "\eac9";
}
.hjsicon-linkedin2:before {
  content: "\eaca";
}
.hjsicon-lastfm:before {
  content: "\eacb";
}
.hjsicon-lastfm2:before {
  content: "\eacc";
}
.hjsicon-delicious:before {
  content: "\eacd";
}
.hjsicon-stumbleupon:before {
  content: "\eace";
}
.hjsicon-stumbleupon2:before {
  content: "\eacf";
}
.hjsicon-stackoverflow:before {
  content: "\ead0";
}
.hjsicon-pinterest:before {
  content: "\ead1";
}
.hjsicon-pinterest2:before {
  content: "\ead2";
}
.hjsicon-xing:before {
  content: "\ead3";
}
.hjsicon-xing2:before {
  content: "\ead4";
}
.hjsicon-flattr:before {
  content: "\ead5";
}
.hjsicon-foursquare:before {
  content: "\ead6";
}
.hjsicon-yelp:before {
  content: "\ead7";
}
.hjsicon-paypal:before {
  content: "\ead8";
}
.hjsicon-chrome:before {
  content: "\ead9";
}
.hjsicon-firefox:before {
  content: "\eada";
}
.hjsicon-IE:before {
  content: "\eadb";
}
.hjsicon-edge:before {
  content: "\eadc";
}
.hjsicon-safari:before {
  content: "\eadd";
}
.hjsicon-opera:before {
  content: "\eade";
}
.hjsicon-file-pdf:before {
  content: "\eadf";
}
.hjsicon-file-openoffice:before {
  content: "\eae0";
}
.hjsicon-file-word:before {
  content: "\eae1";
}
.hjsicon-file-excel:before {
  content: "\eae2";
}
.hjsicon-libreoffice:before {
  content: "\eae3";
}
.hjsicon-html-five:before {
  content: "\eae4";
}
.hjsicon-html-five2:before {
  content: "\eae5";
}
.hjsicon-css3:before {
  content: "\eae6";
}
.hjsicon-git:before {
  content: "\eae7";
}
.hjsicon-codepen:before {
  content: "\eae8";
}
.hjsicon-svg:before {
  content: "\eae9";
}
.hjsicon-IcoMoon:before {
  content: "\eaea";
}
